:root {
    --dt_primary: #093c59;
    --dt-secondary: #0099C9;
    --dt-font-family: "Saira Medium", Saira, Verdana, Arial, sans-serif;
    --dt-body-bg: #edf2f9;
}

body {
  font-family: var(--dt-font-family);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--dt-font-family);
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--dt-font-family);
  font-size: 0.813rem;
  font-weight: 600;
  color: #093C59;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 0.75rem;
  line-height: 0;
  margin-left: 0.313rem;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #0099C9;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0.875rem;
  top: calc(100% + 30px);
  margin: 0;
  padding: 0.625rem 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0rem 0rem 1.875rem rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 0.125rem solid #1bbd36;
}
.navbar .dropdown ul li {
  min-width: 12.5rem;
}
.navbar .dropdown ul a {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: none;
  color: #111;
}
.navbar .dropdown ul a i {
  font-size: 0.75rem;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1bbd36;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 1.875rem);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
*   Mobile Nav
*/
.mobile-nav-toggle {
  color: #111;
  font-size: 1.75rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.content {
    min-height: 100vh;
    position: relative;
    padding-left: .5rem;
    padding-right: .5rem;
}

  .footer {
    bottom: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fs--1 {
    font-size: 0.8333333333rem !important;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 0.625rem 0;
    box-shadow: 0rem 0.125rem 0.938rem rgba(0, 0, 0, 0.1);
  }
  #header .logo {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.031rem;
    text-transform: uppercase;
  }
  #header .logo a {
    color: #111;
  }
  #header .logo a span {
    color: #1bbd36;
  }
  #header .logo img {
    max-height: 2.5rem;
  }

/*--------------------------------------------------------------
* sectionHeader
*-------------------------------------------------------------*/

.main-content {
  padding-top: 4.375rem;
  overflow: hidden;
  background-color: #f7f7f7;
}

.form-signin {
  width: 100%;
  max-width: 370px;
  padding: 15px;
  margin: auto;
}
