{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
	  <h1 class="display-5 fw-bold">404 - Page not Found</h1>
	  <p class="col-md-8 fs-4">Looks like you took a wrong turn somewhere.<br/>Just click the button below to go back to the home page.</p>
	  <a href="/" class="btn btn-primary btn-lg" type="button">Take me to the Home Page</a>
	</div>
</div>

{% endblock %}
