{% extends 'base.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://kit.fontawesome.com/308c240182.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-xxl">

<h1>AFL Ladder</h1>

<table id="table" data-toggle="table" data-url="{{ url_for('static', filename='json/afl_ladder.json') }}">
<thead>
<tr>
	<th data-field="pos" data-sortable="true">Pos</th>
	<th data-field="club" data-sortable="true">Club</th>
	<th data-field="played" data-sortable="true">Played</th>
	<th data-field="won" data-sortable="true">Won</th>
	<th data-field="lost" data-sortable="true">Lost</th>
	<th data-field="drawn" >Drawn</th>
	<th data-field="points" data-sortable="true">Points</th>
	<th data-field="percentage" data-sortable="true">Percentage</th>
	<th data-field="percent_for" data-sortable="true">Points For</th>
	<th data-field="percent_against" data-sortable="true">Points Against</th>
</tr>
</thead>
</table>

</div>
{% endblock %}
