{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<p></p>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form action="{{ url_for('change_password') }}" class="mb-5 border p-4 bg-light shadow" method="POST">
        <h4 class="mb-5 text-secondary">Change Password</h4>

        <div class="row">
          {% if message %}
          <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {%endif%}

          <div class="mb-3 col-md-12">
            <label>Password</label>
            <input type="password" name="password1" id="password1" class="form-control" placeholder="Enter Password">
          </div>
          <div class="mb-3 col-md-12">
            <label>Confirm Password</label>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm Password">
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary float-end">Change Password</button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
