{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">

<div class="row py-3">
    <!-- Contact Info -->
    <div class="col-md-4 pt-1 mb-4 mb-md-0">
        <h3 class="pb-2 pb-md-3 pb-lg-4">Contact Info</h3>

        <ul class="list-unstyled pb-1 pb-lg-4">
            <li class="mb-3 mb-lg-4">
                <span class="d-block fs-sm text-muted">Email</span>
                <a href="mailto:info@digitaltrends.com.au" class="nav-link d-inline-block fs-lg p-0">info@digitaltrends.com.au</a>
            </li>
            <li class="mb-3 mb-lg-4">
                <span class="d-block fs-sm text-muted">Phone</span>
                <a href="tel:+61417910390" class="nav-link d-inline-block fs-lg p-0">(+61) 0417 910 390</a>
            </li>
            <li class="mb-3 mb-lg-4">
                <span class="d-block fs-sm text-muted">Office</span>
                <div class="text-nav fs-lg fw-medium">2/7 Brentham Street. Leederville,  WA 6007</div>
            </li>
            <li class="mb-3 mb-lg-4">
                <span class="d-block fs-sm text-muted">Postal</span>
                <div class="text-nav fs-lg fw-medium">Parcel Locker 10015 01487<br/>
                    148 Scarborough Beach Rd. Mt Hawthorn, WA 6016</div>
            </li>
            <li class="mb-3 mb-lg-4">
                <span class="d-block fs-sm text-muted">Banking (Macquarie)</span>
                <div class="text-nav fs-lg fw-medium">BSB: 186 200 <br/>
                    A/C: 118785344 </div>
            </li>
        </ul>
    </div>

    <!-- Map -->
    <div class="col-xl-7 col-md-8 offset-xl-1">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2/7%20Brentham%20Street,%20Leederville%20WA%206007&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock %}
