{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-auto shadow-sm">

<div class="d-flex flex-column flex-shrink-0 p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ url_for('dashboard') }}" class="nav-link align-items-center">
                <i class="fa-solid fa-gauge-high"></i> Dashboard
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link align-items-center">
                <i class="fa-solid fa-address-card"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-items-center">
                <i class="fa-solid fa-user-group"></i> Users
            </a>
        </li>
    </ul>
</div>


</div>
<div class="col">

<h1>Dashboard</h1>

Hello {{ user['given_name'] }}

{% if message %}
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{%endif%}

<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
</div>

{% endblock %}
