{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<h1>Debug</h1>

<pre>
ENV             : {{ dt_test }}
session['uid']  : {{ session['uid'] }}
SMTP_SERVER     : {{ smtp_server }}
password        : {{ password }}
user            : {{ user }}
</pre>

{% endblock %}
