{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">

<h1>Glossary</h1>

<table class="table table-sm">
<thead>
<tr> <th>Acronym</th> 	<th>Description</th> </tr>
</thead>

<tbody>
<tr> <td>AES</td>		<td>Advanced Encryption Standard</td> </tr>
<tr> <td>ADC</td>		<td>Analog to Digital Converter</td> </tr>
<tr> <td>AP</td>		<td>Access Point</td> </tr>
<tr> <td>ATS</td>		<td>Answer to Select</td> </tr>
<tr> <td>BIOS</td>		<td>Basic Input-Output Services</td> </tr>
<tr> <td>CAD</td>		<td>Computer Aided Design</td> </tr>
<tr> <td>CMOS</td>		<td>Complementary Metal-Oxide-Semiconductor</td> </tr>
<tr> <td>CTS</td>		<td>Clear To Send</td> </tr>
<tr> <td>DES</td>		<td>Digital Encryption Standard</td> </tr>
<tr> <td>DHCP</td>		<td>Dynamic Host Configuration Protocol</td> </tr>
<tr> <td>DNS</td>		<td>Domain Name Server</td> </tr>
<tr> <td>EEPROM</td>	<td>Electrically Erasable Programmable Read-Only Memory</td> </tr>
<tr> <td>FOTA</td>		<td>Firmware Over The Air</td> </tr>
<tr> <td>FTP</td>		<td>File Transfer Protoco</td> </tr>
<tr> <td>FW</td>		<td>Firmware</td> </tr>
<tr> <td>GPIO</td>		<td>General Purpose Input Output</td> </tr>
<tr> <td>GPRS</td>		<td>General Packet Radio Service</td> </tr>
<tr> <td>GPS</td>		<td>Global Positioning System</td> </tr>
<tr> <td>GSM</td>		<td>Global System for Mobile Communications</td> </tr>
<tr> <td>HTML</td>		<td>HyperText Transfer Protocol</td> </tr>
<tr> <td>I2C</td>		<td>Inter-Integrated Circuit</td> </tr>
<tr> <td>IMEI</td>		<td>International Mobile Equipment Identity</td> </tr>
<tr> <td>ISP</td>		<td>Internet Service Provider</td> </tr>
<tr> <td>M2M</td>		<td>Machine-To-Machine</td> </tr>
<tr> <td>MCC</td>		<td>Mobile Country Code</td> </tr>
<tr> <td>MNO</td>		<td>Mobile Network Operator</td> </tr>
<tr> <td>MOSFET</td>	<td>Metal Oxide Semiconductor Field Effect Transistor</td> </tr>
<tr> <td>NITZ</td>		<td>Network Identity and Time Zone</td> </tr>
<tr> <td>NFC</td>		<td>Near Field Communication</td> </tr>
<tr> <td>NVM</td>		<td>Non-Volatile Memory</td> </tr>
<tr> <td>PPP</td>		<td>Point-to-Point Protoco</td> </tr>
<tr> <td>PUK</td>		<td>Personal Unblocking Key</td> </tr>
<tr> <td>QoS</td>		<td>Quality of Service</td> </tr>
<tr> <td>RATS</td>		<td>Request Answer To Select</td> </tr>
<tr> <td>RF</td>		<td>Radio Frequency</td> </tr>
<tr> <td>RTC</td>		<td>Real Time Clock</td> </tr>
<tr> <td>RTS</td>		<td>Request To Send</td> </tr>
<tr> <td>Rx</td>		<td>Receive</td> </tr>
<tr> <td>RXD</td>		<td>Receive Data (RxD)</td> </tr>
<tr> <td>SIM</td>		<td>Subscriber Identity Module</td> </tr>
<tr> <td>SMS</td>		<td>Short Message Service</td> </tr>
<tr> <td>SMTP</td>		<td>Simple Mail Transfer Protocol</td> </tr>
<tr> <td>SSID</td>		<td>Service Set Identifier</td> </tr>
<tr> <td>TCP</td>		<td>Transfer Control Protocol</td> </tr>
<tr> <td>Tx</td>		<td>Transmit</td> </tr>
<tr> <td>TXD</td>		<td>Transmit Data (TxD)</td> </tr>
<tr> <td>TZ</td>		<td>Time Zone</td> </tr>
<tr> <td>UDP</td>		<td>User Datagram Protocol</td> </tr>
<tr> <td>UICC</td>		<td>Universal Integrated Circuit Card</td> </tr>
<tr> <td>UID</td>		<td>Unique IDentifier</td> </tr>

</tbody>

</table>

</div>
{% endblock %}
