{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">

<h1>Handy Links</h1>

<table class="table table-striped">
<thead>
<tr>
	<th>Link</th>
	<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
	<td class="fs-6"><a href="http://www.bom.gov.au/wa/forecasts/perth.shtml" target="BOM_WA_Forecast">http://www.bom.gov.au/wa/forecasts/perth.shtml</a></td>
	<td>BOM - 7 Day weather forecast for Perth, Western Australia</td>
</tr>
<tr>
	<td><a href="http://www.bom.gov.au/products/IDW60901/IDW60901.94608.shtml" target="BOM_WA_Observations">http://www.bom.gov.au/products/IDW60901/IDW60901.94608.shtml</a></td>
	<td>BOM - Current weather observations for Perth, Western Australia</td>
</tr>
<tr>
	<td><a href="http://www.bom.gov.au/products/IDR703.loop.shtml" target="BOM_WA_Radar">http://www.bom.gov.au/products/IDR703.loop.shtml</a></td>
	<td>BOM - Perth radar loop</td>
</tr>
<tr>
	<td><a href="https://www.windy.com/-31.933/115.841?-32.463,115.841,8" target="Windy">https://www.windy.com/</a></td>
	<td>Windy - interactive forecast</td>
</tr>
<tr>
	<td><a href="https://webcamsydney.com/" target="NSW_Webcam">https://webcamsydney.com/</a></td>
	<td>Live View of Sydney Harbour (Webcam)</td>
</tr>
<tr>
	<td><a href="https://www.transperth.wa.gov.au/Journey-Planner" target="Journey_Planner">https://www.transperth.wa.gov.au/Journey-Planner</a></td>
	<td>TransPerth Journey Planner - Tool to plan your trip around Perth (Public Transport)</td>
</tr>
<tr>
	<td><a href="https://www.perthairport.com.au/flights/departures-and-arrivals?Nature=Arrival" target="PER_Arrivals">https://www.perthairport.com.au/flights/departures-and-arrivals?Nature=Arrival</a></td>
	<td>Perth Airport Arrivals - Planes arriving into Perth Airport</td>
</tr>
<tr>
	<td><a href="https://bushfire.io/" target="Bushfire">https://bushfire.io/</a></td>
	<td>National Bushfire Map - A national view of bushfire warnings and fire incidents</td>
</tr>
<tr>
	<td><a href="https://www.flightradar24.com/-32.01,115.9/11" target="Flight_Radar">https://www.flightradar24.com</a></td>
	<td>Flight Radar - Live Air Traffic Data</td>
</tr>
<tr>
	<td><a href="https://www.marinetraffic.com/en/ais/home/centerx:115.7/centery:-32.0/zoom:11" target="Marine_traffic">https://www.marinetraffic.com/</a></td>
	<td>Marine Traffic - Live Shipping Data</td>
</tr>
<tr>
	<td><a href="http://radio.garden/visit/perth/" target="Radio_graden">http://radio.garden/visit/perth/</a></td>
	<td>Radio Garden - Tune into thousands of Live radios stations across the globe</td>
</tr>
<tr>
	<td><a href="https://rageagain.com/#/episode/2022/01/01_night/1" target="Rage_again">https://rageagain.com/#/episode/2022/01/01_night/1</a></td>
	<td>RAGEagain - Entire RAGE playlists online - click on the 'Episodes' icon at the very top left to choose the date you want</td>
</tr>
<tr>
	<td><a href="https://www.submarinecablemap.com/" target="Sub_cable">https://www.submarinecablemap.com</a></td>
	<td>Submarine Cable Map - A world map of all the sub-sea communication cables</td>
</tr>
<tr>
	<td><a href="https://trends.google.com/trends/?geo=AU" target="Google_Trends">https://trends.google.com/trends</a></td>
	<td>Google Trends (AU) - See what the world is currently searching for</td>
</tr>
<tr>
	<td><a href="https://builtwith.com/" target="Built_With">https://builtwith.com</a></td>
	<td>Built With - Find out what websites are built with</td>
</tr>
<tr>
	<td><a href="http://web.archive.org/" target="Web_Archive">http://web.archive.org/</a></td>
	<td>Web Archive (WayBack Machine) - See websites as they WERE over time</td>
</tr>
<tr>
	<td><a href="https://www.xe.com/" target="Currency">https://www.xe.com/</a></td>
	<td>Currency Converter - Check exchanges rates</td>
</tr>
<tr>
	<td><a href="https://www.fullblackscreen.com/" target="FullBlackScreen">https://www.fullblackscreen.com/</a></td>
	<td>Full Black Screen - Make your sceen Dazzling</td>
</tr>



</tbody>
</table>

</div>
{% endblock %}
