{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-xxl">
	<div class="row">
		<div class="col">
			<h1>Welcome</h1>

			<p>Digital Trends was established in 1999 in Perth, Western Australia serving customers in multiple industries. </p>
			<p>We have specialised in the Finance and Technology sectors, working with numerous private and government departments.</p>
			<p>In the past few years we have moved our skillset towards cloud computing to match the industry direction.</p>
			<p>We have been able to specialise in IoT projects in recent years. We have mainly implemented the Cloud platform using Amazon Web Services (AWS).</p>
			<p>The toolset(s) required were S3, DynamoDB, MQQT, IoT Core, IAM, SNS, CodeBuild etc, right through to integrating Amazon Alexa voice control.</p>
			<p>Currently, Digital Trends is partnering with Ezybandz to develop the hardware prototype and AWS Cloud hosting solution for their medical alert wristband. More details here: <a href="https://ezybandz.com" target="ezybandz">Ezybandz.com</a> </p>
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="card mb-4 mt-2">
						<div class="card-body text-center">
							<i class="fa-solid fa-location-crosshairs"></i> <span id="currLocation">Location</span>
							<h1 id="currTemp">--&deg;C</h1>
							<div class="text-muted"><i class="fa-solid fa-wind"></i> <span id="currWindDir" class="fw-bold">-</span> <span id="currWindSpeed" class="fw-bold">-kmh</span></div>
							<div class="text-muted"><i class="fa-solid fa-cloud-rain"></i> <span id="currRainTrace" class="fw-bold">-mm</span> (since 9am)</div>
						</div>

					</div>
					<div class="card mb-3">
						<div class="card-body text-center">
						  <h3 class="card-title">Contact Us</h3>
						  <p class="card-text">2/7 Brentham Street <br/>
							Leederville  WA 6007 <br/>
							Australia </p>
						  <a href="https://what3words.com/policy.listed.bleak" class="my-3" target="W3W">///policy.listed.bleak </a>
						  <p class="mt-3">info@digitaltrends.com.au <br/>
							0417 910 390
						  </p>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block final %}
<script>

function updateCurrWeather() {
	let xhr1 = new XMLHttpRequest();
	xhr1.open('GET', '/getCurrWeather');
	xhr1.send();

	xhr1.onload = function() {
    	if (xhr1.status != 200) { // analyze HTTP status of the response
			console.log(`Error ${xhr1.status}: ${xhr1.statusText}`);
        } else {
			var currWeatherInfo = xhr1.response;
			var currWeatherJSON = JSON.parse(xhr1.response);
			// console.log("currWeatherInfo="+currWeatherInfo);

			document.getElementById('currLocation').innerHTML  = currWeatherJSON.name;
			document.getElementById('currTemp').innerHTML      = currWeatherJSON.air_temp +'&deg;C';
			document.getElementById('currWindDir').innerHTML   = currWeatherJSON.wind_dir;
			document.getElementById('currWindSpeed').innerHTML = currWeatherJSON.wind_spd_kmh+'kmh';
			document.getElementById('currRainTrace').innerHTML = currWeatherJSON.rain_trace+'mm';
		};
	};
};

updateCurrWeather();
setInterval(updateCurrWeather, 60000);

</script>
{% endblock %}
