{% extends 'base.html' %}

{% block head %}
<script src="https://accounts.google.com/gsi/client" async defer></script>

<script>

    function handleCredentialResponse(response) {
      console.log("Encoded JWT ID token: " + response.credential);
      // const responsePayload = decodeJwtResponse(response.credential);
      const responsePayload = JSON.parse(atob(response.credential.split('.')[1]));
      console.log(responsePayload);

      console.log("ID: " + responsePayload.sub);
      console.log('Full Name: ' + responsePayload.name);
      console.log('Given Name: ' + responsePayload["given_name"]);
      console.log('Family Name: ' + responsePayload.family_name);
      console.log("Image URL: " + responsePayload.picture);
      console.log("Email: " + responsePayload.email);

      document.getElementById("googleEmail").value = responsePayload.email;
      document.getElementById("given_name").value  = responsePayload.given_name;
      document.getElementById("family_name").value = responsePayload.family_name;
      document.getElementById("picture").value     = responsePayload.picture;
      document.getElementById("sub").value         = responsePayload.sub;
      document.getElementById("google_form").submit();
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "238070372165-c2nkco852e0mtk46mmkot7debqrqa496.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "filled_blue", size: "large", locale: "en_AU" }  // customization attributes
      );
      // google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>

{% endblock %}

{% block content %}

<form id="google_form" action="/google_login" method="POST">
  <input type="hidden" name="email" id="googleEmail">
  <input type="hidden" name="given_name" id="given_name">
  <input type="hidden" name="family_name" id="family_name">
  <input type="hidden" name="picture" id="picture">
  <input type="hidden" name="sub" id="sub">
</form>

<p></p>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form action="{{ url_for('login') }}" class="mb-5 border p-4 bg-light shadow" method="POST">
        <h4 class="mb-5 text-secondary">Login</h4>

        <div class="row">
          {% if message %}
          <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {%endif%}

          <div class="mb-3 col-md-12">
            <label>Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email Address">
          </div>
          <div class="mb-3 col-md-12">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
          </div>

          <div class="col-md-12">
            <a href="#resetModal" data-bs-toggle="modal" data-bs-target="#resetModal">Forgotten Password? Reset</a> <button class="btn btn-primary float-end">Login</button>
          </div>

          <div>&nbsp;</div>
          <div id="buttonDiv"></div>
        </div>
      </form>

      <p class="text-center mt-3 text-secondary">If you dont have an account, Please <a href="/signup">Signup Here</a></p>
    </div>
  </div>
</div>

<!-- START: resetModal-->
<div class="modal fade" id="resetModal">
  <form id="resetForm">
  <div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" id="resetEmail" name="resetEmail" placeholder="email@email.com" required>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" id="resetSubmit" class="btn btn-primary">Reset Password</button>
    </div>
  </div>
  </form>
</div>
<!-- END  : resetModal-->


<script>
  var resetButton = document.getElementById('resetSubmit');

  resetButton.addEventListener('click', function(e) {
    e.preventDefault();
    var formData = new FormData(document.getElementById('resetForm'));

    if (document.getElementById('resetEmail').value == '') {
      alert('Email field cannot be blank');
    } else {
      var req = new XMLHttpRequest();
      req.onload = function () {
        if (req.readyState === req.DONE) {
          if (req.status === 200) {
            // console.log(req.response);
            // console.log(req.responseText);
            alert(req.responseText);
          }
        }
      };
      req.open('POST', '/resetPassword', true);
      req.send(formData);
      bootstrap.Modal.getInstance(resetModal).hide();
    }
  });

  resetModal.addEventListener('shown.bs.modal', function() {
    document.getElementById('resetEmail').value = document.getElementById('email').value;
  });

</script>
{% endblock %}
