{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<p></p>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form action="{{ url_for('signup') }}" class="mb-5 border p-4 bg-light shadow" method="POST">
        <h4 class="mb-5 text-secondary">Create Your Account</h4>

        <div class="row">
          {% if message %}
          <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {%endif%}

          <div class="mb-3 col-md-6">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" placeholder="Enter First Name">
          </div>
          <div class="mb-3 col-md-6">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name">
          </div>
          <div class="mb-3 col-md-12">
            <label>Email</label>
            <input type="text" name="email" class="form-control" placeholder="Enter Email Address">
          </div>
          <div class="mb-3 col-md-12">
            <label>Password</label>
            <input type="password" name="password1" class="form-control" placeholder="Enter Password">
          </div>
          <div class="mb-3 col-md-12">
            <label>Confirm Password</label>
            <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary float-end">Signup Now</button>
          </div>

        </div>
      </form>

        <p class="text-center mt-3 text-secondary">If you already have an account, Please <a href="/login">Login Here</a></p>

    </div>

  </div>
</div>

{% endblock %}
